body{
    background: #eee;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    margin: 0;
}
.container{
    width: 70%;
    padding: 2px 1em;
    margin: 0 auto
}
header{
    margin-bottom: 35px;
}
h1{
    font-size: 32px;
    display: flex;
    align-items: center;
    background-color: deeppink;
    color: #eee;
    padding: .7rem 1rem;
    box-shadow: 2px 2px 5px #000a;
}
h1 span{
    font-size: .6em;
    margin-left: 20px;
}
h2{
    color: deeppink;
}
p{
    color: #222;
    padding: 0 8px;
}
section{
    padding: 0 10px;
}
article{
    margin-bottom: 40px;
}